.contact {
	min-height: 50vh;
	position: relative;
	max-width: 120rem;
	margin: 0 auto;

	&__header {
		color: rgba($clr-grey-light, 0.1);
		margin-bottom: 10rem;

		@media screen and (max-width: $medium) {
			font-size: 12rem;
		}

		@media screen and (max-width: $small) {
			font-size: 8rem;
		}
	}

	&__card {
		text-align: left;
		width: max-content;
		// margin: 0 auto;
		color: $clr-grey-light;

		text-shadow: 2px 2px 4px rgba($color: #000000, $alpha: 0.5);

		& p {
			font-size: 2rem;
			margin-bottom: 2rem;
		}
	}
}
