.contact {
	min-height: 50vh;
	position: relative;
	max-width: 120rem;
	margin: 0 auto;

	&__header {
		color: rgba($clr-grey-light, 0.1);
		margin-bottom: 4rem;

		@media screen and (max-width: $medium) {
			font-size: 12rem;
		}

		@media screen and (max-width: $small) {
			font-size: 8rem;
		}
	}

	h3 {
		margin-bottom: 1.25rem;
	}

	&-wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 8rem;

		@media screen and (max-width: $small) {
			grid-template-columns: 1fr;
			gap: 0rem;
		}
	}

	&__card {
		width: 100%;

		@media screen and (max-width: $small) {
			margin-bottom: 2rem;
		}

		& p {
			font-size: 1.6rem;
			margin-bottom: 1rem;
			color: $clr-grey-light;

			& a {
				display: flex;
				align-items: center;
			}

			& svg {
				margin-right: 1.8rem;
			}
		}

		& .contact__icons {
			color: $clr-grey-light;
		}
	}
}
