.underline {
	position: relative;
	display: inline-block;

	&:hover::after {
		height: 100%;
		bottom: 0;
	}

	&::after {
		content: "";
		width: 100%;
		height: 50%;
		background-color: $clr-beige;
		position: absolute;
		bottom: 0rem;
		left: 0rem;
		z-index: -1;
		transition: all 0.2s ease-out;

		@media (max-width: 480px) {
			content: none;
			display: none;
		}
	}

	&::before {
		content: "";
		height: 100%;
		background-color: $black;
		position: absolute;
		bottom: 0rem;
		left: 0rem;
		z-index: 2;
		animation-name: blackLine;
		animation-duration: 1.5s;
		animation-fill-mode: forwards;
		animation-iteration-count: 1;

		@media (max-width: 480px) {
			content: none;
			display: none;
		}
	}

	&:nth-of-type(2)::before {
		animation-delay: 0.2s;
	}

	&:nth-of-type(3)::before {
		animation-delay: 0.4s;
	}
}

.text-serif {
	font-family: "Playfair Display", serif;
}

.enlarge {
	transition: transform 0.4s ease-out;

	&:hover,
	&:focus-visible {
		transform: scale(1.1);
	}
}

.lines {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	z-index: -1;
	overflow: hidden;
	height: 100%;

	& svg {
		& circle {
			stroke-dasharray: 6000;
			stroke-dashoffset: 6000;
			animation: dash 2s linear forwards;
		}

		// triangle
		& path {
			stroke-dasharray: 5000;
			stroke-dashoffset: 5000;
			animation: dash 2s ease 1s forwards;

			@media (max-width: $small) {
				transform: translateX(-20%) scale(0.7);
			}
		}
	}
}

.no-break {
	@media (max-width: 480px) {
		display: none;
	}
}

.space {
	@media (min-width: 481px) {
		display: none;
	}
}

.text-background {
	background-color: $clr-beige;
}
