// $clr-background: #1f1f1f;
$clr-background: #353535;

$clr-grey-light: #e5e5e5;
$clr-blue: rgba(102, 131, 174, 1);
$clr-beige: #c7a780;
$clr-aqua: #00cfee;
$clr-pink: rgba(253, 41, 61, 1);
$clr-orange: rgba(235, 93, 18, 1);
$black: #000000;

$small: 600px;
$medium: 900px;
$large: 1250px;
