// $clr-background: #1f1f1f;
$clr-background: #353535;

$clr-grey-light: #c0c0c0;
$clr-grey: #afafaf;
$clr-blue: rgba(102, 131, 174, 1);
$clr-beige: #c7a780;
$clr-aqua: #00cfee;
$fail: rgba(253, 41, 61, 1);
$success: rgb(0, 255, 85);
$clr-orange: rgba(235, 93, 18, 1);
$black: #161616;

$small: 600px;
$medium: 900px;
$large: 1250px;
